<header>
  <div class="mobile">
    <nav class="navbar">
      <div class="burger" id="burger-menu">
        <span class="bar-1"></span>
        <span class="bar-2"></span>
        <span class="bar-3"></span>
      </div>
      <ul class="nav-links" id="nav-links">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/group-administration">Group administration</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/login">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="sidebar">
  <div class="sidebarlogodiv">
    <h1 class="logo">
      {{! routing to index }}
      <a href="/">
        Kubelab
      </a>
    </h1>
  </div>
  <ul>
    <li>
      <a href="/">
        <img src="/images/dashboardikon.svg" alt="Icon" class="iconlight" />
        <img
          src="/images/dashboardikonwhite.svg"
          alt="Icon"
          class="icondarkmode"
        />Projects
      </a>
    </li>
    <li>
      <a href="/group-administration">
        <img src="/images/gruppeadminikon.svg" alt="Icon" class="iconlight" />
        <img
          src="/images/gruppeadminikonwhite.svg"
          alt="Icon"
          class="icondarkmode"
        />Group Management
      </a>
    </li>
    <li>
      <a href="/members">
        <img
          src="/images/addmemberikonblack.svg"
          alt="Icon"
          class="iconlight"
        />
        <img
          src="/images/addmemberikonwhite.svg"
          alt="Icon"
          class="icondarkmode"
        />Members
      </a>
    </li>
  </ul>
  <ul class="bottom-section">
    <li>
      <a href="/settings">
        <img src="/images/settingsikon.svg" alt="Icon" class="iconlight" />
        <img
          src="/images/settingsikonwhite.svg"
          alt="Icon"
          class="icondarkmode"
        />Settings
      </a>
    </li>
    <li>
      <a href="/login">
        <img src="/images/logoutikon.svg" alt="Icon" class="iconlight" />
        <img src="/images/logoutikon2.svg" alt="Icon" class="icondarkmode" />Log
        out
      </a>
    </li>
  </ul>
</div>