<div
  style="margin-top: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 15px;"
>
  <h1 style="color: #007bff; font-weight: bold;">Oops! Page Not Found</h1>
  <p style=" color: #007bff; font-weight: bold;">The page you are looking for
    doesn't exist.</p>
  <img src="/images/404.png" alt="404 Not Found" />
  <p><a style="color: #007bff; font-weight: bold;" href="/">Go back to login</a></p>
</div>