<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubelab</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <div class="mobile">
            <nav class="navbar">
                <!-- Hamburger Icon -->
                <div class="burger" id="burger-menu">
                    <span class="bar-1"></span>
                    <span class="bar-2"></span>
                    <span class="bar-3"></span>
                </div>
                <!-- Navigation Links -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/group-administration">Group administration</a></li>
                    <li><a href="/add-new-member">Add new member</a></li>
                    <li><a href="/settings">Settings</a></li>
                <!-- <li><a href="#logout">Log out</a></li> -->
            <li><a href="/login">Log out</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="sidebar">
        <ul>
            <div class="sidebarlogodiv">
                <h1 class="logo">Kubelab</h1>
            </div>
            <li><a href="/"><img src="/images/dashboardikon.svg" alt="Icon" class="ikon">Dashboard</a></li>
            <li><a href="/group-administration"><img src="/images/gruppeadminikon.svg" alt="Icon" class="ikon">Group
                    administration</a></li>
            <li><a href="/add-new-member"><img src="/images/addmemberikon.svg" alt="Icon" class="ikon">Add member</a></li>
            <li><a href="/settings"><img src="/images/settingsikon.svg" alt="Icon" class="ikon">Settings</a></li>
            <!-- <li><a href="#logout">Log out</a></li> -->
            <li><a href="/login"><img src="/images/logoutikon.svg" alt="Icon" class="ikon">Log out</a></li>
        </ul>
    </div>

    <section class="content">
        <nav aria-label="Breadcrumb">
            <ol class="breadcrumb">
                <li aria-current="page">Add new member</li>
            </ol>
        </nav>
        <section class="my-projects">
            <div class="sectionhead">
                <h2>Add member</h2>
                <div class="line"></div>
            </div>
            <div class="container-btn2">
                <a href="/create-new-group" class="button-link">Add new member</a>
            </div>
        </section>
    </section>
        <script src="/scripts/javascript.js"></script>
</body>

</html>