<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/groupAdministration">Group administration</a></li>
      <li aria-current="page">Create new group</li>
    </ol>
  </nav>
  <section class="my-projects">
    <div class="sectionhead">
      <h2>Create group</h2>
      <div class="line"></div>
    </div>
    <div class="input-field2">
      <input
        type="text"
        id="groupname"
        name="groupname"
        placeholder="Group name*"
        required
      />
    </div>
    <div class="container-btn2">
      <a href="/group-administration" class="button-link"><img
          src="/images/plusikon.svg"
          alt="Icon"
          class="buttonikon"
        />Create new group</a>
    </div>
  </section>
</section>