<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/group-administration">Group administration</a></li>
      <li aria-current="page">Create new group</li>
    </ol>
  </nav>
  <section class="my-projects">
    <div class="sectionhead">
      <h2>Create group</h2>
      <div class="line"></div>
    </div>
    <form id="groupForm" method="POST" action="/create-new-group">
    <div class="input-field2">
      <input
        type="text"
        id="groupname"
        name="name"
        placeholder="Group name*"
        required
      />
    </div>
    <div class="container-btn2">
      <button type="submit" class="button-link">Create Group</button>
    </div>
    </form>
  </section>
</section>