<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Group administration</li>
    </ol>
  </nav>
  <section class="groups">
    <div class="sectionhead">
      <h2>Group administration</h2>
      <div class="line"></div>
    </div>
    <div class="parent-container">
      <div class="actionsrow">
        <div class="search-filter-wrapper">
          <div class="searchBar">
            <input type="text" placeholder="Search.." />
          </div>
          <div>
            <img class="filtericon" src="/images/Filtericonblack.svg" alt="Filter Icon" />
          </div>
        </div>
        <div class="toggle-container">
          <input type="checkbox" id="toggle" class="toggle-input" />
          <label for="toggle" class="toggle-label">
            <img src="/images/editiconblack.svg" alt="Edit Icon" class="toggle-icon" />
          </label>
        </div>
      </div>
    </div>

    <div class="container-btn2">
      <a href="/create-new-group" class="button-link"><img
          src="/images/plusikon.svg"
          alt="Icon"
          class="buttonikon"
        />Create new group</a>
    </div>
  </section>
</section>