<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Group administration</li>
    </ol>
  </nav>
  <section class="groups">
    <div class="sectionhead">
      <h2>Group administration</h2>
      <div class="line"></div>
    </div>
    <div class="groupssection">
      <div class="searchBar2">
        <input type="text" placeholder="Search.." />
      </div>
      <div class="toggle-container">
        <input type="checkbox" id="toggle" class="toggle-input" />
        <label for="toggle" class="toggle-label"></label>
        <p class="togglep">what ever you want to toggle here</p>
      </div>
    </div>
    <div class="container-btn2">
      <a href="/create-new-group" class="button-link"><img
          src="/images/plusikon.svg"
          alt="Icon"
          class="buttonikon"
        />Create new group</a>
    </div>
  </section>
</section>