<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Group administration</li>
    </ol>
  </nav>
  <section class="groups">
    <div class="sectionhead">
      <h2>Group administration</h2>
      <div class="line"></div>
    </div>
    <div class="parent-container">
      <div class="actionsrow">
        <div class="search-filter-wrapper">
          <div class="searchBar">
            <input type="text" placeholder="Search.." />
          </div>
          <div>
            <img class="filtericon" src="/images/Filtericonblack.svg" alt="Filter Icon" />
          </div>
        </div>
        <div class="toggle-container">
          <input type="checkbox" id="toggle" class="toggle-input" />
          <label for="toggle" class="toggle-label">
            <img src="/images/editiconblack.svg" alt="Edit Icon" class="toggle-icon" />
          </label>
        </div>
      </div>
    </div>
    <div class="container-btn2">
      <a href="/create-new-group" class="button-link"><img
          src="/images/plusikon.svg"
          alt="Icon"
          class="buttonikon"
        />Create new group</a>
    </div>

    <div class="accordion-section">
      <!-- Accordion Header -->
      <div class="accordion-block" onclick="toggleAccordion(this)">
        <div>
        <h4 class="tablep">Group Name</h4>
        <p class="tablep">22 members</p>
        </div>
        <img src="/images/arrowblack.svg" alt="Icon" class="ikon2 arrow-icon2" />
      </div>
      
      <!-- Accordion Content Row -->
      <table>
      <tr class="accordion-content2">
        <th>
          <div class="cell-content">
            <h5>Member</h5>
            <p>Domainname</p>
          </div>
        </th>
        <th>
          <div class="cell-content">
            <h5>Service</h5>
          </div>
        </th>
        <th>
          <div class="cell-content">
            <h5>Status</h5>
          </div>
        </th>
      </tr>
      </table>
    </div>
  </section>
</section>