<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kubelab</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <section class="content">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li aria-current="page">Dashboard</li>
        </ol>
      </nav>

      <section class="my-projects">
        <div class="sectionheading">
          <h2>My Projects</h2>
          <div class="line"></div>
        </div>
        <div class="SearchBar">
          <input type="text" placeholder="Search.." />
        </div>
        <div class="dashboard-content">
          <table>
            <tr class="tablerow">
              <th class="tablehead"><h3>Project Name</h3></th>
              <th class="tablehead mobileonly"><h3>Service</h3></th>
              <th class="tablehead mobileonly"><h3>Created at</h3></th>
              <th class="tablehead"><h3>Status</h3></th>
              <th class="tablehead"><h3>Action</h3></th>
            </tr>
            <tr>
              <td>
                <p class="tablep">Name</p>
                <p>DomainName</p>
              </td>
              <td class="mobileonly"><p>Wordpress</p></td>
              <td class="mobileonly"><p>16/09-2024</p></td>
              <td>
                <img src="/images/greenstatus.svg" alt="Icon" class="ikon" />
              </td>
              <td class="actiontablecell">
                <img
                  src="/images/pauseikon.svg"
                  alt="Icon"
                  class="ikon ikon2"
                />
                <img src="/images/moreikon.svg" alt="Icon" class="ikon ikon2" />
              </td>
            </tr>
            <tr>
              <td>
                <p class="tablep">Name</p>
                <p>DomainName</p>
              </td>
              <td class="mobileonly"><p>Wordpress</p></td>
              <td class="mobileonly"><p>16/09-2024</p></td>
              <td>
                <img src="/images/redstatus.svg" alt="Icon" class="ikon" />
              </td>
              <td class="actiontablecell">
                <img src="/images/playikon.svg" alt="Icon" class="ikon ikon2" />
                <img src="/images/moreikon.svg" alt="Icon" class="ikon ikon2" />
              </td>
            </tr>
          </table>
        </div>
        <div>
          <div class="container-btn">
            <a href="/start-new-project" class="button-link"><img
                src="/images/plusikon.svg"
                alt="Icon"
                class="buttonikon"
              />Create new project</a>
          </div>
        </div>
      </section>

      <section class="recent-projects">
        <div class="sectionheading">
          <h2>Recent Projects</h2>
          <div class="line"></div>
        </div>
        <div class="dashboard-content">
          <table>
            <tbody>
              <tr class="tablerow">
                <th class="tablehead"><h3>Project Name</h3></th>
                <th class="tablehead mobileonly"><h3>Service</h3></th>
                <th class="tablehead mobileonly"><h3>Created at</h3></th>
                <th class="tablehead"><h3>Status</h3></th>
                <th class="tablehead"><h3>Action</h3></th>
              </tr>
              <tr>
                <td>
                  <p class="tablep">Name</p>
                  <p>DomainName</p>
                </td>
                <td class="mobileonly"><p>Wordpress</p></td>
                <td class="mobileonly"><p>16/09-2024</p></td>
                <td>
                  <img src="/images/greenstatus.svg" alt="Icon" class="ikon" />
                </td>
                <td class="actiontablecell">
                  <img
                    src="/images/pauseikon.svg"
                    alt="Icon"
                    class="ikon ikon2"
                  />
                  <img
                    src="/images/moreikon.svg"
                    alt="Icon"
                    class="ikon ikon2"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <p class="tablep">Name</p>
                  <p>DomainName</p>
                </td>
                <td class="mobileonly"><p>Wordpress</p></td>
                <td class="mobileonly"><p>16/09-2024</p></td>
                <td>
                  <img src="/images/redstatus.svg" alt="Icon" class="ikon" />
                </td>
                <td class="actiontablecell">
                  <img
                    src="/images/playikon.svg"
                    alt="Icon"
                    class="ikon ikon2"
                  />
                  <img
                    src="/images/moreikon.svg"
                    alt="Icon"
                    class="ikon ikon2"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>
    <script src="/scripts/javascript.js"></script>
  </body>
</html>