<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Settings</li>
    </ol>
  </nav>
  <section class="my-projects">
    <div class="sectionhead">
      <h2>Account settings</h2>
      <div class="line"></div>
    </div>
    <div class="logininfo">
      <h3 class="loginheading">Logged in profile:</h3>
      <p>magu234@edu.ucl.dk</p>
    </div>
    <div class="container-btn2 container-seperate">
      <a href="/create-new-group" class="button-link"><img
          src="/images/logoutikon2.svg"
          alt="Icon"
          class="buttonikon"
        />Log out</a>
      <a class="reset" href="">Reset Password</a>
    </div>
  </section>
</section>