<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Settings</li>
    </ol>
  </nav>
  <section class="my-projects">
    <div class="sectionhead">
      <h2>Account settings</h2>
      <div class="line"></div>
    </div>
    <div class="logininfo">
      <h3 class="loginheading">Logged in profile:</h3>
      <p>{{user.firstName}} {{user.lastName}}</p>
      <p>{{user.email}}</p>
    </div>
    <div class="logininfo">
      <h3 class="loginheading">Group:</h3>
      <p>WUOE24</p>
    </div>
    <div class="container-btn2 container-seperate">
      <a href="/login" class="button-link"><img
          src="/images/logoutikon2.svg"
          alt="Icon"
          class="buttonikon"
        />Log out</a>
      <a class="reset" href="">Reset Password</a>
    </div>
    <div class="sectionhead-layout">
      <h2>Layout settings</h2>
      <div class="line"></div>
    </div>
    <div class="darklightmode">
      <div class="toggle-container">
        <input type="checkbox" id="toggle" class="toggle-input" />
        <label for="toggle" class="toggle-label">
          <img
            src="/images/suniconpurple.svg"
            alt="Edit Icon"
            class="toggle-icon iconlight"
          />
          <img
            src="/images/mooniconwhite.svg"
            alt="Edit Icon"
            class="toggle-icon icondarkmode"
          />
        </label>
      </div>
      <div class="modesparagraphs">
        <p class="iconlight modep">Light mode is on</p>
        <p class="icondarkmode modep">Dark mode is on</p>
      </div>
    </div>

  </section>
</section>