<section class="content">
    <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/index.html">Dashboard</a></li>
            <li aria-current="page">Start new project</li>
        </ol>
    </nav>
    <section>
        <div class="sectionhead">
            <h2>Create a new project</h2>
            <div class="line"></div>
        </div>
        <div class="custom-select">
            <select id="mySelect" required>
                <option value="apple">Select Project Service</option>
                <option value="banana">Banana</option>
                <option value="cherry">Cherry</option>
                <option value="date">Date</option>
                <option value="grape">Grape</option>
            </select>
        </div>
        <div class="inputsection">
            <div class="input-field2">
                <input type="text" id="projectname" name="projectname" placeholder="Project name*" required />
            </div>
            <div class="input-field2">
                <input type="text" id="subdomainname" name="subdomainname" placeholder="Subdomain name*" required />
            </div>
        </div>
        <div class="container-btn2">
            <a href="/" class="button-link"><img src="/images/plusikon.svg" alt="Icon" class="buttonikon">Create project</a>
        </div>
    </section>
</section>
