:root {
  --font-family: "Open Sans", sans-serif;
}

:root,
:root.light {
  --color-nav-bg: #f9f9f9;
  --color-body-bg: #e6e8f4;
  --color-heading: #080f25;
  --color-paragraph: #080f25;
  --color-breadcrumbs: #7eadff;
  --color-breadcrumbs-hover: #007bff;

  --container-element: #f9f9f9;
  --container-clicked: #d7daea;

  --btn-container: #654CE5;
  --btn-container-hover: #4937a3;
  --btn-text: #ffffff;

  --hover-navbar: #e6e8f4;
  --hover-navbar-stroke: #654CE5;
  --navbar-text: #080f25;
}


:root.dark {
  --color-nav-bg: #0e1836;
  --color-body-bg: #060c1e;
  --color-heading: #fafafb;
  --color-paragraph: #fafafb;
  --color-breadcrumbs: #6291ff;
  --color-breadcrumbs-hover: #007bff;

  --container-element: #f9f9f9;
  --container-clicked: #d7daea;

  --btn-container: #6C72FF;
  --btn-container-hover: #6368f1;
  --btn-text: #fafafb;

  --hover-navbar: #212c4d;
  --hover-navbar-stroke: #6c72ff;
  --hover-navbar-text: #fafafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  width: 100%;
}

body {
  background-color: var(--color-body-bg);
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
}

h1 {
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  line-height: 2;
  font-weight: 600;
  font-size: 1.6rem;
}

h3 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1rem;
}

p {
  line-height: 1.2;
  font-size: 1rem;
  color: var(--color-paragraph);
}

img {
  display: block;
  max-width: 100%;
}

/* Mobile menu */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-nav-bg);
  padding: 20px 20px;
}

/* Hamburger icon styles */
.burger {
  flex-direction: column;
  cursor: pointer;
  display: flex;
}

.burger .bar-1,
.bar-2,
.bar-3 {
  height: 3px;
  width: 25px;
  background-color: var(--navbar-text);
  margin: 3px;
  transition: all 0.3s ease;
}

.active .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  transform: rotate(-45deg) translate(-9px, 13px);
}

.active .bar-2 {
  opacity: 0;
}

.active .bar-3 {
  -webkit-transform: rotate(45deg) translate(-10px, 10px);
  transform: rotate(45deg) translate(0px, -3px);
}

/* Navigation links styles */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 20px 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--navbar-text);
  padding: 8px 15px;
  transition: background 0.3s;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--color-nav-bg);
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.nav-links.active {
  display: flex;
}

.sidebar {
  display: none;
}

.main-title-bar {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

/* Login side */
.loginbody {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginh2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-heading);
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.remember-me label {
  display: block;
  font-size: 14px;
  color: #555;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 10px;
  /* Space between checkbox and label */
}

.input-field {
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field input:focus {
  border-color: #007bff;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--btn-container);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: var(--btn-container-hover);
}

.login-container p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

/* Breadcrumbs section */
.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0.6rem 1rem;
  display: flex;
}

.breadcrumb li {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: var(--color-breadcrumbs);
}

.breadcrumb li a {
  text-decoration: none;
  color: var(--color-breadcrumbs);
  transition: color 0.3s ease;
}

.breadcrumb li a:hover {
  color: var(--color-breadcrumbs-hover);
}

/* Add separator (such as a slash) between breadcrumb items */
.breadcrumb li + li::before {
  content: ">";
  margin-right: 0.5rem;
  color: #6c757d;
}

.breadcrumb li:last-child a {
  color: #6c757d;
  pointer-events: none;
  /* Disable click on current page */
  cursor: default;
}

/* table projects styling */

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--container-element);
  color: var(--color-heading);
}

tr {

  vertical-align: center;
}

th, td {
  padding: 1rem;
  width: 33%;
}

.tablep {
  line-height: 2;
}

th {
  text-align: left;
}

.mobileonly {
  display: none;
}

.actiontablecell {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.statusrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Parent container */
.parent-container {
  width: 100%;
  box-sizing: border-box;
}

/* Actions row */
.actionsrow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.filtericon {
  margin-left: 10px;
  cursor: pointer;
}

.search-filter-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: auto;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.toggle-input {
  display: none;
}

.toggle-label {
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-label::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: var(--container-element);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: left 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-input:checked+.toggle-label {
  background-color: var(--btn-container);
}

.toggle-input:checked+.toggle-label .toggle-icon {
  transform: translateX(42px);
}

.toggle-input:checked+.toggle-label::before {
  left: 42px;
}

.toggle-icon {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
  left: 10px;
  top: 10px;
  transition: transform 0.3s ease;
}

/* Search bar */
.searchBar {
  flex-grow: 1;
  margin-right: 10px;
  max-width: 600px;
}

.searchBar input[type="text"] {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}


/* Accordion project start */
.accordion-content {
  display: none;
  background-color: var(--container-element);
  transition: max-height 0.2s ease-out;
}

.cell-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.cell-content h5 {
  margin: 0;
  font-size: 1rem;
}

.cell-content p {
  margin: 0;
}

.accordion-header {
  cursor: pointer;
  border-top: 20px solid var(--color-body-bg);
  border-bottom: 20px solid var(--color-body-bg);
}

.accordion-header:nth-child(2) {
  border-top: 12px solid #E6E8F4 !important;
  /* Smaller top border for the first header */
}

.accordion-header.no-border {
  border-bottom: none;
  /* Remove bottom border when content is shown */
}

.accordion-header .arrow-icon {
  transition: transform 0.2s ease;
}

.accordion-header.open {
  background-color: #D7DAEA;
}

.accordion-header.open .arrow-icon {
  transform: rotate(180deg);
}


.td2 {
  padding-bottom: 20px !important;
  padding-top: 0px !important;
}

.td2:first-child {
  text-align: left;
  /* Align the first td to the left */
}

.td2:last-child {
  text-align: right;
  /* Align the last td to the right */
}

.ikon2 {
  display: inline-block !important;
  vertical-align: bottom;
  width: 24px !important;
  height: 24px !important;
  margin-right: 5px !important;
}

.sectionheading {
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.button-link {
  background-color: var(--btn-container);
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-right: 8px;
}

.button-link:hover {
  background-color: var(--btn-container-hover);
}

.container-btn {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: start;
  font-size: 12px;
  margin-bottom: 1.5rem;
}

.container-btn2 {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  font-size: 12px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--color-heading);
  top: 10%;
}

/* Group management page */
.accordion-section {
  margin-bottom: 10px;
  margin: 20px 0;
}

.accordion-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  cursor: pointer;
  background-color: var(--container-element);
}

.accordion-content2 {
  display: none;
  background-color: var(--container-element);
  /* Initially hidden */
}

.statusp {
  font-weight: 400;
  font-size: 14px;
}

.cell-p {
  font-weight: 400 !important;
}

.arrow-icon2 {
  transition: transform 0.3s ease;
}

.accordion-block.open {
  background-color: var(--container-clicked);
}

.accordion-block.open .arrow-icon2 {
  transform: rotate(180deg);
  /* Rotates arrow when open */
}

/* start new project page */

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

select {
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--container-element);
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  color: #333;
  appearance: none;
  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

select:hover {
  border-color: #888;
}

select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sectionhead {
  margin-bottom: 2rem;
}

.input-field2 input {
  width: 50%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 15px;
}

.input-field2 input:focus {
  border-color: #007bff;
}

.buttonikon {
  display: inline-block !important;
  vertical-align: middle;
  width: 16px !important;
  height: 16px !important;
  margin-right: 10px !important;
}

/* groups section */
.groupssection {
  margin-top: 20px;
}

.searchBar2 {
  width: 60%;
}

.searchBar2 input[type="text"] {
  padding: 1rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
}

.groupssection {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.groups {
  width: 100%;
}


/* settings */
.loginheading {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.logininfo {
  margin-bottom: 30px;
}

.reset {
  color: var(--color-breadcrumbs);
  display: flex;
  align-items: center;
}

.reset:hover {
  color: var(--color-breadcrumbs-hover);
}

.container-seperate {
  display: flex;
  justify-content: space-between;
}

/* add member page */
.sectionhead2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn3 {
  margin-top: 0px !important;
  margin-bottom: 40px;
}


/* Media query for tablets */
@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

/* Media query for desktops */
@media (min-width: 1024px) {
  .login-container {
      width: 500px;
    }

  .mobile {
    display: none;
  }

  .mobileonly {
    display: table-cell;
  }

  th {
    padding: 1.5rem;
    width: 20%;
  }

  td {
    padding: 2rem;
    width: 20%;
  }

  .sidebar {
    width: 310px;
    height: 100vh; /* Full height */
    background-color: var(--color-nav-bg);
    color: var(--color-heading);
    padding: 30px 40px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebarlogodiv {
    text-align: center;
    padding-bottom: 3.5rem;
  }

  .sidebarlogo {
    max-width: 100%;
    height: auto;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sidebar .top-section {
    flex-grow: 1;
  }

  .sidebar .bottom-section {
    margin-top: auto;
  }

  .sidebar ul li {
    margin: 2rem 0;
  }

  .sidebar ul li a {
    display: inline-flex;
    align-items: center;
    color: var(--color-heading);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
  }

  .sidebar ul li a:hover {
    background-color: #E6E8F4;
    padding-left: 12px;
    border-left: 3px solid var(--btn-container);
  }

  .ikon {
    display: inline-block !important;
    vertical-align: bottom; 
    width: 24px !important;
    height: 24px !important;
    margin-right: 10px !important;
  }

  .content {
    margin-left: 350px;
    padding: 20px;
    width: calc(100% - 400px);
    height: 100%;
    background-color: var(--color-body-bg);
    overflow-y: auto;
    margin-top: 0px;
  }

  .breadcrumb {
    margin: 1rem 0rem;
  }

  .container-btn, .container-btn2 {
    font-size: 14px;
  }
}